{% extends "blog/base.html" %}
  {% block content %}
    <!-- <div class="row">
      <div class="col-l2 col-sm-6 offset-sm-2 text-center"> -->
        {% for post in posts %}
            <div class='card mt-4 mb-4'>
              <p class="card-header">
                <span class="strong text-primary"> {{ post.Author }} </span>  
                posted on  <span class="text-muted" > {{ post.date}} </span> 
              </p>
              <h1 class="card-body">
                  <span class="bold fs-2"> {{ post.title }} </span>  
              </h1>
              <p style="font-family:'Times New Roman', Times, serif; padding-left: 15px;">{{post.content}}</p>
            </div>
        {% endfor %}
      <!-- </div>
    </div> -->
  {% endblock content %}