{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-12 col-sm-8 offset-sm-1">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mt-3">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}